.input {
    background-color: aqua;
    padding: 5px 10px;
    border: 1px solid red;
}

.layout {
    border: 1px solid red;
    margin-bottom: 10px;
}

.btn {
    width: 300px;
    color: white;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}