.op{
    background-color: darksalmon;
    margin-left: 40px;
    width: 500px;
    height: 700px;
    border-radius: 15px;
    box-shadow: 5px 10px black;
    
}
.input {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    width: 900px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 20px;
}
.btn {
    background-color:red;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 30px;
    width: 200px;
    box-shadow: 1px 2px black;
}
.input-text {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 35%;
}
.error {
    color: red;
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
}

